@font-face {
  font-family: "RobotoMono";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "RobotoMono";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
body {
  font-family: "RobotoMono", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}